
<div align="center" style="padding-top:20px">
  
<input type="text" [(ngModel)]="SearchTerm">
&nbsp;
<input type="text" name="companyName" [(ngModel)]="companyName">

<app-test [companyName] = "companyName" [profile] = "profile">
  <h1 content1>{{"hello India1" +companyName }}</h1> 
  <h1 content2>{{"hello India2" +companyName }}</h1> 
</app-test>

&nbsp;
<button class="main-link"   (click) = "changeEmployeeName()" class="btn btn-info">Change Employee Name</button>
</div>
<h1>{{firstname}}</h1>
<h1>{{lastname}}</h1>

<div class="alert alert-danger" *ngIf="deleteMessage">
  {{deleteMessage}}
</div>
<table class="table">
 
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone No</th>
      <th>Copntact Preference</th>
      <th>Date of Birth</th>
      <th>Department</th>
      <th>Is Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor='let employee of filteredEmployees let i=index;let c=count;let o=odd;let e=even;'>
      <tr  [class.changecolor]="viewempid===employee.id">
      <td>{{e}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phoneno}}</td>
      <td>{{employee.copntactpreference}}</td>
      <td>{{employee.dob}}</td> 
      <td>{{employee.department}}</td>
      <td>{{employee.isactive}}</td>
      <td>
        <a class="main-link btn btn-info" [routerLink]="['/viewemployee',employee.id]" [queryParams]="{'searchTxt':SearchTerm}"> View Employee </a> &nbsp;
        <button class="main-link"   (click) = "deleteUser(employee.id)" class="btn btn-info">Delete</button>
      </td>
    </tr>
    </ng-container>
    
  </tbody>
  
</table>
